.dashboard-card{

background:white;

border-radius:15px;

padding:20px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

}

.dashboard-card:hover{

transform:translateY(-5px);

}

.dashboard-icon{

width:60px;

height:60px;

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

color:white;

}

.dashboard-content h4{

margin:0;

font-size:15px;

color:#666;

}

.dashboard-content h2{

margin-top:8px;

font-size:28px;

}