.dashboard{
    padding:30px;
    background:#f4f7fc;
    min-height:100vh;
}

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.dashboard-header h1{
    font-size:40px;
    margin-bottom:8px;
    color:#222;
}

.dashboard-header p{
    color:#666;
    font-size:17px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

@media(max-width:1200px){
.cards{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:700px){
.cards{
grid-template-columns:1fr;
}
}